<!DOCTYPE html>
<title>Spideygame</title>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/page.css">

<body>
<h1>Welcome to your superhero journey!</h1>
<p>At any time you can <a href='/reset/' style="color:#000000">reset</a> your game.</p>
<br>
Okay, {{ name }}, you have been thrown into your first fight! In front of you stands Sandman, would you like to fight him and prove your worth?
<br>
<img src="https://media0.giphy.com/media/kmIgPASGkmwMg/source.gif" height="350" width="550"/>
<br>
<h2><a href="/yes/" style="color:#000000">Click here to fight him</a><br>
<a href="/no/" style="color:#000000">Click here to let him go</a></h2>
<br>
<br>
<br>
<br>

</body>