<!DOCTYPE html>
<title>Spideygame</title>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/page.css">

<body>
<h1>Welcome to your superhero journey!</h1>
<p>At any time you can <a href='/reset/' style="color:#000000">reset</a> your game.</p>
<p>You have mastered the kick. What move would you like to execute on the Sandman?</p>
<form action="/move/" method="post">
    <input type="radio" name="move" value="water">Kick the Sandman into the sewer and poor water on him<br>
    <input type="radio" value="kick" name="move">Punch Sandman in the face<br>
    <input type="submit" value="Submit"><br>
</form>
<img src="https://media3.giphy.com/media/3w0IKvduHjGy4/giphy.gif" height="350" width="500"/>
</body>
</html>