<!DOCTYPE html>
<title>Spideygame</title>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/page.css">
<head>
</head>

<body>
<h1>Welcome to your superhero journey!</h1>
<p>At any time you can <a href='/reset/' style="color:#000000">reset</a> your game.</p>
Nice job!!!!! You have thought about how water will successfuly kill the Sandman and kicked him into the sewer...you have beat him. Congratulations on saving your city!
<img src="https://gradingfightscenes.files.wordpress.com/2014/04/picture41.png" height="350" width="500"/><br>
</body>
</html>