<!DOCTYPE html>
<title>Spideygame</title>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/page.css">
<head>
</head>

<body>
<h1>Welcome to your superhero journey!</h1>
<p>At any time you can <a href='/reset/' style="color:#000000">reset</a> your game.</p>
Unfortunately, you have not mastered the punch. He has blocked you and smashed you into the train striking you to fatality.
<img src="https://i.ytimg.com/vi/jkWejVBsMPA/maxresdefault.jpg" height="350" width="550"/>

</body>
</html>